/*format list */

.mod-jea-emphasis-container {
	overflow: hidden;
}

dl.mod-jea-emphasis {
	padding:0;
	margin: 0 0 1em 0;
}

dl.mod-jea-emphasis.horizontal {
	width: 30%;
	float: left;
	margin-right: 1em;
	min-height: 220px;
	overflow: hidden;
}

dl.mod-jea-emphasis dt {
	clear: both;
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 1.2em;
}

dl.mod-jea-emphasis dd {
	padding: 5px 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

dl.mod-jea-emphasis .slogan {
	color: red;
	background: #FFF;
	padding: 2px;
	position: absolute;
	top: 0;
	left: 5px;
	border: 1px solid #ccc;
}

dl.mod-jea-emphasis a.image {
	display: block;
	margin-bottom: 5px;
}

dl.mod-jea-emphasis a.image img {
	border: none;
}

dl.mod-jea-emphasis.vertical a.image {
	display: block;
}
